state-machines/report-stats.asl.json
{
  "Comment": "Send an email report of how the latest issue performed",
  "StartAt": "Get Last Issue",
  "States": {
    "Get Last Issue": {
      "Type": "Task",
      "Parameters": {
        "TableName": "${TableName}",
        "IndexName": "GSI1",
        "KeyConditionExpression": "#GSI1PK = :GSI1PK",
        "ExpressionAttributeNames": {
          "#GSI1PK": "GSI1PK"
        },
        "ExpressionAttributeValues": {
          ":GSI1PK": {
            "S.$": "States.Format('{}#newsletter', $$.Execution.Input.tenant.id)"
          }
        },
        "ScanIndexForward": false,
        "Limit": 1
      },
      "Resource": "${DynamodbQuery}",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get Stats From SendGrid",
          "States": {
            "Get Stats From SendGrid": {
              "Type": "Task",
              "Resource": "${LambdaInvoke}",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${SendApiRequest}",
                "Payload": {
                  "secretKey": "sendgrid",
                  "auth": {
                    "location": "header",
                    "key": "Authorization",
                    "prefix": "Bearer"
                  },
                  "request": {
                    "method": "GET",
                    "baseUrl.$": "States.Format('https://api.sendgrid.com/v3/marketing/stats/singlesends/{}', $.Items[0].singleSendId.S)",
                    "query": {
                      "start_date.$": "States.ArrayGetItem(States.StringSplit($.Items[0].GSI1SK.S, 'T'), 0)"
                    }
                  }
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Top Links",
          "States": {
            "Get Top Links": {
              "Type": "Task",
              "Resource": "${LambdaInvoke}",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${GetTopLinks}",
                "Payload": {
                  "campaign.$": "$.Items[0].pk.S",
                  "returnList": true
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Subscriber Count",
          "States": {
            "Get Subscriber Count": {
              "Type": "Task",
              "Resource": "${LambdaInvoke}",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${SendApiRequest}",
                "Payload": {
                  "secretKey": "sendgrid",
                  "auth": {
                    "location": "header",
                    "key": "Authorization",
                    "prefix": "Bearer"
                  },
                  "request": {
                    "method": "GET",
                    "baseUrl": "https://api.sendgrid.com/v3/marketing/lists/${ListId}"
                  }
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "Set New Subscriber Count"
            },
            "Set New Subscriber Count": {
              "Type": "Task",
              "Resource": "${DynamodbPutItem}",
              "Parameters": {
                "TableName": "${TableName}",
                "Item": {
                  "pk": {
                    "S.$": "States.Format('{}#newsletter', $$.Execution.Input.tenant.email)"
                  },
                  "sk": {
                    "S.$": "States.Format('subscribers#{}', States.ArrayGetItem(States.StringSplit($$.Execution.StartTime, 'T'), 0))"
                  },
                  "count": {
                    "S.$": "States.Format('{}', $.contact_count)"
                  }
                }
              },
              "End": true,
              "ResultPath": null
            }
          }
        },
        {
          "StartAt": "Load Previous Subscriber Count",
          "States": {
            "Load Previous Subscriber Count": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "TableName": "${TableName}",
                "KeyConditionExpression": "#pk = :pk and begins_with(#sk, :sk)",
                "ExpressionAttributeNames": {
                  "#pk": "pk",
                  "#sk": "sk"
                },
                "ExpressionAttributeValues": {
                  ":pk": {
                    "S.$": "States.Format('{}#newsletter', $$.Execution.Input.tenant.id)"
                  },
                  ":sk": {
                    "S": "subscribers#"
                  }
                },
                "ScanIndexForward": false,
                "Limit": 1
              },
              "Resource": "${DynamodbQuery}"
            }
          }
        }
      ],
      "Next": "Build Email Report",
      "ResultPath": "$.data"
    },
    "Build Email Report": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${BuildReportEmail}",
        "Payload": {
          "stats.$": "$.data[0].results[0].stats",
          "issue.$": "$.Items[0].pk.S",
          "subscribers.$": "$.data[2].contact_count",
          "priorSubscribers.$": "$.data[3].Items[0].count.S",
          "links.$": "$.data[1].links",
          "singleSendId.$": "$.Items[0].singleSendId.S"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Send Update Email"
    },
    "Send Update Email": {
      "Type": "Task",
      "Resource": "${EventBridgePutEvents}",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "subject.$": "$.subject",
              "to.$": "$$.Execution.Input.tenant.email",
              "html.$": "$.content"
            },
            "DetailType": "Send Email",
            "Source": "user.GetNewsletterStats"
          }
        ]
      },
      "End": true
    }
  }
}
